.icon{
    background: #ccc;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid;

}
.icon-color{
    background: #f9d71b;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid;

}