<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side" position="end" class="side-cont-admin">
        <mat-nav-list>
            <h5> הצעות נהגים</h5>
            <a mat-list-item routerLink="/privateArea/offersForm" routerLinkActive="active_link">
                <mat-icon>local_taxi</mat-icon> &nbsp;הצעת נסיעה חדשה
            </a>
            <a mat-list-item routerLink="/privateArea/OwnOffers" routerLinkActive="active_link">
                <mat-icon>airport_shuttle</mat-icon> &nbsp;ההצעות שלי
            </a>
            <a mat-list-item routerLink="/privateArea/ActiveRequests" routerLinkActive="active_link">
                <mat-icon>wc</mat-icon> &nbsp;בקשות להצעות שלי
            </a>
            <!-- <a mat-list-item routerLink="/privateArea/ActiveOffers" routerLinkActive="active_link">
                <mat-icon> directions_car</mat-icon> &nbsp;הצעות כלליות פעילות
            </a> -->
            <a mat-list-item routerLink="/privateArea/AllOffers" routerLinkActive="active_link">
                <mat-icon> directions_car</mat-icon> &nbsp;כל ההצעות הפעילות
            </a>
            
            <a mat-list-item routerLink="/privateArea/OffersHistory" routerLinkActive="active_link">
                <mat-icon>timer</mat-icon> &nbsp;הסטורית הצעות שלי
            </a>


            <h5> בקשות נוסעים</h5>
            <a mat-list-item routerLink="/privateArea/RequestsForm" routerLinkActive="active_link">
                <mat-icon>transfer_within_a_station</mat-icon> &nbsp;בקשת נסיעה חדשה
            </a>
            <a mat-list-item routerLink="/privateArea/OwnRequests" routerLinkActive="active_link">
                <mat-icon>face</mat-icon> &nbsp;הבקשות שלי
            </a>
                   <a mat-list-item routerLink="/privateArea/ActiveOffers" routerLinkActive="active_link">
                <mat-icon> airport_shuttle</mat-icon> &nbsp;הצעות לבקשות שלי
            </a>
            <a mat-list-item routerLink="/privateArea/AllRequests" routerLinkActive="active_link">
                <mat-icon> directions_car</mat-icon> &nbsp;כל הבקשות הפעילות
            </a>
            <a mat-list-item routerLink="/privateArea/RequestsHistory" routerLinkActive="active_link">
                <mat-icon>timer</mat-icon> &nbsp; הסטוריית בקשות ונסיעות שלי
            </a>
            <br>
            <h5 *ngIf="isManager">   משתמשים</h5>
            <a mat-list-item *ngIf="isManager" routerLink="/privateArea/personStatus" routerLinkActive="active_link">
                <mat-icon>person</mat-icon> &nbsp; עדכון סטטוס משתמשים
            </a>

            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="bg2"></div>
        <div class="logo">

        </div>
        <div style="height: calc(100vh - 130px);">

            <div class="content-div">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
 