<div class="form-wrapper-large">
    <h1> הסטוריית הנסיעות שלי</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>מקור</th>
                <th>יעד</th>
                <th>תאריך ושעה</th>
                <th>מספר מקומות</th>
                <th>מחיר</th>
                <th>הערות</th>
               
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let off of offers">
                <tr>

                    <td class="td1">{{off.resourse}} - {{off.resourse_city}}</td>
                    <td class="td1"> {{off.destination}} - {{off.destination_city}}</td>

                    <td class="td1">  {{off.date_time | date:"dd/MM/yyyy HH:mm"}}</td>
                    <td class="td1"> {{off.seats}}</td>
                    <td class="td1"> {{off.price}}</td>
                    <td class="td1"> {{off.remarks}}</td>
                 
                </tr>
                <tr>
                    <th class="th2">שם נוסע </th>
                    <th class="th2">פרטי נוסע</th>
                    <th class="th2">מקור נוסע</th>
                    <th class="th2">יעד נוסע</th>
                    <th class="th2">תאריך ושעה</th>
                    <th class="th2">מספר מקומות</th>
                

                </tr>
                <tr *ngFor="let oR of off.requests">
                    <td class="td2">{{oR.driver.username}}</td>
                    <td class="td2">{{oR.driver.mail +' | '+ oR.driver.phone }}</td>
                    <td class="td2">{{oR.resourse}} - {{oR.resourse_city}}</td>
                    <td class="td2"> {{oR.destination}} - {{oR.destination_city}}</td>

                    <td class="td2"> {{oR.date_time | date:"dd/MM/yyyy HH:mm"}}</td>
                    <td class="td2"> {{oR.seats}}</td>
                   
                </tr>
            </ng-container>

        </tbody>
    </table>

    <ng-template #noContent>
        <h2> לא נמצאו הצעות נסיעה </h2>
    </ng-template>
</div>